body {
    background-color: #131313
}   
h1{
    color: white;
    font-family: 'Roboto', sans-serif;  
}
.media-picture{
    
    image-resolution: 400px;
    background-position: center;  
}
.review-score{
    color: white;
    background-color: #e6bd09;
    padding-top: 12px;
}
h2{
    color: steelblue
}
p{
    color: #bdbdbd;
    font-family: 'Roboto', sans-serif;
}
a{
    color: yellow;
}